.theme{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: #F8F9F9;
    .theme-item{
        background: #fff;
        text-align: center;
        width: 163px;
        height: 60px;
        line-height: 60px;
        // padding: 15px 40px;
        // border: 1px solid #333;
        font-size: 22px;
        font-weight: bold;
        color: #333;
        &.active{
            background: #389EAC;
            color: #fff;
        }
    }
}